<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.wps.moffice.demo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
         <activity
            android:name="cn.wps.moffice.demo.fileManager.ListFileActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="cn.wps.moffice.demo.MOfficeDemoActivity"
            android:label="@string/app_name" >
        </activity>
        -->
        <activity
            android:name="cn.wps.moffice.demo.test.AutoTest"
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name="cn.wps.moffice.demo.menu.ListViewParamActivity"
            android:label="settingList" >
        </activity>
        
        <activity
            android:name="cn.wps.moffice.demo.menu.OpenWayParamActivity"
            android:label="settingList" >
        </activity>
        
        <activity
            android:name="cn.wps.moffice.demo.menu.AIDLParamActivity"
            android:label="settingList" >
        </activity>
        
        <activity
            android:name="cn.wps.moffice.demo.menu.ATEditParamActivity"
            android:label="settingList" >
        </activity>
        
        <service android:exported="true" android:name="cn.wps.moffice.demo.agent.AgentMessageService" >
            <intent-filter>
                <action android:name="cn.wps.moffice.agent.OfficeServiceAgent" >
                </action>
            </intent-filter>
        </service>
        <service android:exported="true"  android:name="cn.wps.moffice.demo.client.MOfficeClientService" >
            <intent-filter>
                <action android:name="cn.wps.moffice.client.OfficeServiceClient" />
            </intent-filter>
        </service>
        
         <service
            android:name="cn.wps.moffice.demo.floatingview.service.FloatServiceTest"
            android:enabled="true"
            android:exported="true" >        
        </service>
        
        <service
            android:name="cn.wps.moffice.demo.floatingview.service.FloatingServiceHideView"
            android:enabled="true"
            android:exported="true" >
        </service>

        <receiver android:name="cn.wps.moffice.demo.broad.CloseReceiver" >
            <intent-filter>
               <!--<action android:name="cn.wps.moffice.file.close" /> -->      <!-- 该条是旧的广播intent-filter，不推荐使用 -->
               <action android:name="cn.wps.moffice.broadcast.AfterClosed" />  
            </intent-filter>
        </receiver>
        <receiver android:name="cn.wps.moffice.demo.broad.SaveReceiver" >
            <intent-filter>
                 <!-- <action android:name="cn.wps.moffice.file.save" />-->		<!-- 该条是旧的广播intent-filter，不推荐使用 -->
                <action android:name="cn.wps.moffice.broadcast.AfterSaved" /> 
            </intent-filter>
        </receiver>
         <receiver android:name="cn.wps.moffice.demo.broad.BackKeyReceiver" >
            <intent-filter>
                <action android:name="com.kingsoft.back.key.down" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.wps.moffice.demo.broad.HomeKeyReceiver" >
            <intent-filter>
                <action android:name="com.kingsoft.home.key.down" />
            </intent-filter>
        </receiver>
    </application>

</manifest>